{% extends "component/_side_navbar.html.twig" %}
{# variable code dupliqué #}
{% block body %}
	<div class="base-theme">
		<div class="col-12 d-flex">
			{{ block("side") }}
			<nav class="navbar">
				<nav class="d-row navbar d-none d-md-block ">
					<ul>
						<li class="d-inline-flex align-items-center">
							<a class="nav-link logo-nav" aria-expanded="true" href="/">
								{{ block("logo") }}
							</a>
							<a class="nav-link nav-button my-auto btn" href="/">{{ block("tourney_section") }}<br>
								Tournaments
							</a>
							<a class="nav-link nav-button my-auto btn" href="/">
								{{ block("guide_section") }}<br>
								Osu! Guides
							</a>
							<a class="nav-link nav-button my-auto btn" href="/">
								{{ block("mappool_section") }}<br>
								Osu! Mappools
							</a>
							<div class="d-none d-xl-block">
								<form class="d-flex">
									<input class="form-control ms-2 text-light" type="search" placeholder="Search ..." aria-label="Search">
									<button class="btn" type="submit">
										{{ block("search") }}
									</button>
								</form>
							</div>
							<a class="nav-link d-none d-md-block d-xl-none my-auto btn" href="/">
								{{ block("magnifying_glass") }}
							</a>
							<a class="nav-link nav-button my-auto btn" href="/">
								{{ block("login") }}<br>
								Sign-in
							</a>
						</li>
					</ul>
				</nav>
				<a class="d-md-none ms-3 no-transition show collapse multi-collapse" aria-expanded="true" id="multiCollapseExample1" href="/">
					{{ block("logo") }}
				</a>
				<div class="no-transition collapse show multi-collapse" id="multiCollapseExample3">
					<h2 class="nav-title d-md-none text-light my-auto">
						Nathel
					</h2>
				</div>
				<div class="no-transition col-10 collapse hide multi-collapse" id="multiCollapseExample1">
					<form class="d-flex d-md-none  my-auto">
						<input class="form-control ms-2 text-light" type="search" placeholder="Search ..." aria-label="Search">
						<button class="btn" type="submit">
							{{ block("search") }}
						</button>
					</form>
				</div>
				<div id="mobile-menu" class="no-transition menu" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4" onclick="this.classList.toggle('opened');document.getElementById('dropdown-menu').classList.toggle('d-none');" aria-label="Main Menu">
					<div class="mobile-burger d-md-none">
						<span>{#<?= $_SESSION['match']['name']; ?>#}</span>
						{{ block("burger") }}
					</div>
				</div>
			</nav>
		</div>
		<nav id="dropdown-menu" class="d-none d-md-none text-start ">
			<div class="col-12 border-0 menu-card d-flex flex-column" width="100%">
				<a href="/test" class="btn nav-button nav-card-osu align-center text-decoration-none text-start text-light">
					<span class="d-flex my-3 ms-5" title="Coming Soon!">
						▸ Continue with Osu!
					</span>
				</a>
				<a href="/test" class="btn nav-button nav-card text-decoration-none text-start text-light">
					<span class="text-uppercase d-flex my-3 ms-5" title="Coming Soon!">
						Tournaments
					</span>
				</a>
				<a href="/test" class="btn nav-button nav-card text-decoration-none text-start text-light">
					<span class="text-uppercase d-flex my-3 ms-5" title="Coming Soon!">
						Guide Osu!
					</span>
				</a>
				<a href="/test" class="btn nav-button nav-card text-decoration-none text-start text-light">
					<span class="text-uppercase d-flex my-3 ms-5">
						Mappool
					</span>
				</a>
			</div>
		</nav>
	</div>
{% endblock %}
