{% extends "svg/_svg.html.twig" %}


{% block side %}
	{#reprendre backdrop#}
	<div id="open" class=" hide bs collapse multi-collapse no-transition ">
		<div class="side-menu-bg d-none d-md-block "></div>
	</div>
	<div class="card side-nav border-0 d-none d-md-block col-1 d-flex float-start">
		<nav class="nav d-flex justify-content-center flex-column">
			<div class=" burger-btn ms-3" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="open" onclick="this.classList.toggle('opened')">
				{{ block("burger") }}
			</div>
			<div id="open" class="wide-side-menu hide bs collapsing multi-collapse no-transition ">
				<div class="card border-0 bg-transparent">
					<ul class="my-auto">
						{% block side_menu %}
							<a class="side-nav-btn" href="/">
								<li class="side-link ">
									{{ block("home") }}
									Home
								</li>
							</a>
							<a class="side-nav-btn" href="/">
								<li class="side-link ">
									{{ block("explore") }}
									Explore
								</li>
							</a>
							<a class="side-nav-btn" href="/">
								<li class="side-link ">
									{{ block("mymappool") }}
									mappool
								</li>
							</a>
						{% endblock %}
					</ul>
				</div>
			</div>
			<div id="open" class="thin-side-menu show bs toggle multi-collapse no-transition">
				<ul class="side-nav-flex flex-column card border-0 bg-transparent">
					{{ block("side_menu") }}
				</ul>
			</div>
		</nav>
	</div>
{% endblock %}
